/* Importing Utilities Class */
@import 'utilities.css';

/* colors */
:root{
    --primary:#FFA96B;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 4000px;
    -webkit-font-smoothing:antialiased;
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Media Queries TO make Responsive */

@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
    }


}

@media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
}

/* @media(min-width:576px){
    .container{
        max-width: 540px;
    }
} */

/* TopBar Styles from Here */
header.topbar{
    background: var(--secondary);
    color: var(--pure);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: .75rem 0;
}

header.topbar .icons img{
    margin-right: .75rem;
}

header.topbar .auth > div a{
    color: var(--pure);
    margin-right: .75rem;
}


header.topbar .auth > div img{
    margin-right: 0.35rem;
}


header.topbar .auth .devider{
    padding: 0 .75rem;
}

/* Nav Styles From here */

nav{
    margin-bottom: .75rem;
}
nav .top{
    margin: 1.5rem 0;
}

.branding{
    width: 25%;
}

.span-icon{
    font-size: 2rem;
    color: var(--primary);
    margin-right: .5rem;
}

nav .container >div h5, h6{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.02rem;
}

nav .container >div h5{
    margin-bottom: .35rem;
    font-size: .85rem;
}

nav .container >div h6{
    color: var(--ternary);
    font-weight: 500;
}

nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .4s ease;
}

nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}

nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}

/* Hero Section Styles From here */

header.hero{
    height: 600px;
    background: url(../Images/BannerLargeFade.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    padding: 7rem 0;
    font-family: sans-serif;
}

.header-content .welcome{
    padding-right: 2rem;
}

.header-content .welcome h3{
    margin-bottom: 1rem;
    color: var(--pure);
    font-weight: 400;
    font-size: 1.5rem;
}
.header-content .welcome h1{
    margin-bottom: 1rem;
    color: var(--pure);
    font-size: 3rem;
}



.header-content .welcome button{
    margin-right: 1rem;
}

.highlight{
    color: var(--primary);
}


/* Top product Section Styles From Here */

section{
    padding: 4rem 0;
}

section.top-products{
    background: var(--light);
}


.food-card{
    background: var(--pure);
    border: 3px solid var(--heaven);
    border-radius: 10px;
    overflow: hidden;
    margin-right: .75rem;
    

}


.food-details .price h3{
    color: var(--danger);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

hr{
    border: 1px solid var(--ternary);
    opacity: .7;
    margin: .5rem 0;
}

.stars .filled{
    color: var(--primary);
}

.stars .blank{
    color: var(--footer);
}

.cart-icon{
    background-color: var(--primary);
    color: var(--pure);
    padding: 8px;
    margin-right: .35rem;
}

.cart-btn span{
    font-family: 'Raleway',sans-serif;
    font-size: 1rem;
    font-weight: 600;

}

/* About section Styles from here */

.about-details img{
    border-radius: 5px;
    height: 300px;
    background: var(--light);
    padding: .5rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .3) ;

}

.about-content{
    padding-left:2rem ;
}

/* Features Section Styles From Here */

section.features{
    background: var(--light);
}

.feature-container{
    padding-top: 5rem;
}
.feature-box{
    margin-right: 2rem;
    background: var(--pure);
    padding: 1rem;
    border: 3px solid transparent;
    border-radius: 7px;
    box-shadow:5px 7px 10px rgba(0, 0, 0, .2);
    position: relative;
    transition: all .6s ease;
}

.feature-box:hover{
    background: var(--light);
    
}

.feature-box img{
    position: absolute;
    top: -3rem;
    transform: translateX(-50%);
}

.feature-box h2{
    padding-top: 2.75rem;
    margin-bottom: 1.5rem;
    color: var(--secondary);
    font-family: 'Raleway',sans-serif;
    
}

.feature-box h2.special{
    color: var(--primary);
}

/* Chef Section Styles From Here */

section.chef-news{
    background: var(--secondary);
}

.chef-content {
    padding-right: 3rem;
}

.chef-content p span{
    font-size: 1.5rem;
    color: var(--primary);
}

/* Search Section Styles Goes Here */

.search-box .search-form input{
    width: 400px;
    padding: 1rem 0.35rem;
    margin-right: 1rem;
    border: 2px solid var(--light);
    border-radius: 10px;
    outline: none;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: var(--secondary);
    
}

.search-box .search-form input:focus{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.food-results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.food-box{
    background: var(--pure);
    border: 3px solid var(--light);
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .2);
    padding: 1rem;
}
.food-box img{
    width: 100%;
    border-radius: 10px;
}

.food-box h3{
    color: var(--secondary);
    font-family: 'Raleway',sans-serif;
}


/* nesletter section styles goes here */

section.newsletter{
    background: linear-gradient(
        rgba(35, 43, 56, 0.7),
        rgba(35, 43, 56, 0.7)
    ), url(../Images/BannerLarge.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.news-image img{
    width: 100%;
}

.newletter-form{
    margin-left: 5rem;
}

.newletter-form h2{
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1rem;
}

.form input{
    width: 300px;
    padding: .45rem .3rem;
    color: var(--secondary);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;

}

/* blog section styles goes here */

.blog-details{
    margin-bottom: 3rem;
}

.blog-details img{
    border-radius: 5px;
    height: 300px;
    background: var(--light);
    padding: .5rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .3) ;

}

.blog-details .left-image{
    margin-right: 3rem;
}

.blog-details .right-image{
    margin-left: 3rem;
}

.post-stat p{
    display: inline-block;
    margin-right: 1rem;
    font-family: 'Raleway', sans-serif;

}

.post-stat p span{
    color: var(--primary);
    font-weight: 700;
}

/* contact section styles from here */

section.contact{
    background: var(--light);
    padding: 0;
    margin: 0;
}